<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<title>不良计数系统</title>
		<link rel='icon' href="img/1.png">

		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="element-ui/lib/index.js"></script>
		<script type="text/javascript" src="js/jquery-3.4.1.min .js"></script>
		<script type="text/javascript" src="js/Lodash.js"></script>
		<script type="text/javascript" src="js/letteranimation.min.js"></script>
		<script type="text/javascript" src="js/letteranimation.js"></script>
		<script type="text/javascript" src="js/atsrelate.js"></script>
		<script type="text/javascript" src="js/xlsx.full.min.js" ></script>
		<script type="text/javascript" src="js/axios.js"></script>
		<script type="text/javascript" src="js/qs.js" ></script>
		<script type="text/javascript" src="layer-v3.1.1/src/layer.js"></script>
		<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/hover.css" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/okayNav.min.css">
		<link rel="stylesheet" href="css/cssanimation.css" />

	</head>
	<style>
		.left {
			font: "微软雅黑";
			font-size: 18px;
			font-weight: 800;
		}
	</style>

	<body>

		<div id='app'>

			<header id="header" style=' background-color: #1bbc9b;z-index: 10;'>
				<a class="site-logo" href="#" style="color: black;font-weight:900 ;">不良抽取系统</a>

				<nav role="navigation" id="nav-main" class="okayNav">
					<el-avatar shape="square" :size="60" class="cssanimation pepe" src="img/head.jpg" /></el-avatar>

				</nav>
			</header>

			<div style="margin-top: 95px;">

				<el-tabs :tab-position="tabPosition" style="height:800px;">
					<el-tab-pane> <span slot="label" class="left" ><i class="el-icon-scissors"></i>メッキ外選(6200)</span>

						<el-form :model="Part" ref="Part" label-width="100px" class="demo-Part" :inline='true'>
							<el-form-item label="选择时间">
								<el-date-picker @change='reload()' v-model="Part.value1" type="daterange" range-separator="至" value-format="yyyy-MM-dd HH:mm" start-placeholder="开始日期" end-placeholder="结束日期">
								</el-date-picker>
							</el-form-item>
							<el-form-item label="选择尺寸">
								<el-select  v-model="Part.Size" filterable placeholder="请选择" clearable>
									<el-option  @change='clear()'  v-for="item in _.orderBy(_.uniqBy(this.Store, 'SIZER'),'SIZER')" :value="item.SIZER">
										<span>{{ item.SIZER }}</span>
									</el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="选择品种">
								<el-select v-model="Part.ShortName" filterable placeholder="请选择" clearable>
									<el-option v-for="item in _.orderBy(_.uniqBy(this.Store, 'SHORTNAME'),'SHORTNAME')" :value="item.SHORTNAME">
										<span>{{ item.SHORTNAME }}</span>
									</el-option>
								</el-select>

							</el-form-item>
							<el-form-item label="选择lot">
								<el-input  clearable  v-model="Part.LotNo" placeholder="请输入LOT"></el-input>

							</el-form-item>
							<el-button @click='test()' type="primary" icon="el-icon-thumb" >查询</el-button>
						<el-button type="success" icon="el-icon-download" @click='download(1)'>下载</el-button>
						</el-form>
						<el-divider content-position="right" style="font-family: 'langqian';font-weight:800 ;">我 <span style="color: red;">❤ </span>工作</el-divider>
						<el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[5,10,15,20]" :page-size="pageSize" layout=" total,prev,pager, next,sizes" :total="Store.filter(data => !Part.LotNo|| (data.LOTNO.toUpperCase().includes(Part.LotNo.toUpperCase())))
									.filter(data => !Part.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part.ShortName.toUpperCase())))
									.filter(data => !Part.Size|| (data.SIZER.toUpperCase().includes(Part.Size.toUpperCase())))
							.length">
						</el-pagination>
						<br />

						<el-table v-show="Store.filter(data => !Part.Size|| (data.SIZER.toUpperCase().includes(Part.Size.toUpperCase())))
	.filter(data => !Part.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part.ShortName.toUpperCase())))
	.filter(data => !Part.LotNo|| (data.LOTNO.toUpperCase().includes(Part.LotNo.toUpperCase()))).length !=0" :data="Store.filter(data => !Part.Size|| (data.SIZER.toUpperCase().includes(Part.Size.toUpperCase())))
	.filter(data => !Part.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part.ShortName.toUpperCase())))
	.filter(data => !Part.LotNo|| (data.LOTNO.toUpperCase().includes(Part.LotNo.toUpperCase()))).
		slice((currentPage-1)*pageSize,currentPage*pageSize)" height="700px" border style="width: 100%">
							<el-table-column prop="DATA" label="更新日期" sortable width="160">

							</el-table-column>
							<el-table-column prop="LOTNO" label="批号" width="160">
							</el-table-column>

							<el-table-column prop="SIZER" label="尺寸" width="200">
							</el-table-column>
							<el-table-column prop="AMOUNT" label="发生不良数" width="200">
							</el-table-column>
							<el-table-column prop="TYPE" label="メッキ区分" width="200">
							</el-table-column>
							<el-table-column prop="DATA1" label="仕挂日付" width="200">
							</el-table-column>
							<el-table-column prop="DATA2" label="仕挂时刻" width="200">
							</el-table-column>
							<el-table-column prop="TYPENAME" label="品番">
							</el-table-column>
						</el-table>

						<br />

					</el-tab-pane>
					<el-tab-pane> <span slot="label" class="left" ><i class="el-icon-box"></i>測定(7100)</span>

					<el-form :model="Part1" ref="Part" label-width="100px" class="demo-Part" :inline='true'>
							<el-form-item label="选择时间">
								<el-date-picker @change='reload()' v-model="Part1.value1" type="daterange" range-separator="至" value-format="yyyy-MM-dd HH:mm" start-placeholder="开始日期" end-placeholder="结束日期">
								</el-date-picker>
							</el-form-item>
							<el-form-item label="选择尺寸">
								<el-select  v-model="Part1.Size" filterable placeholder="请选择" clearable>
									<el-option  @change='clear()'  v-for="item in _.orderBy(_.uniqBy(this.Store1, 'SIZER'),'SIZER')" :value="item.SIZER">
										<span>{{ item.SIZER }}</span>
									</el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="选择品种">
								<el-select v-model="Part1.ShortName" filterable placeholder="请选择" clearable>
									<el-option v-for="item in _.orderBy(_.uniqBy(this.Store1, 'SHORTNAME'),'SHORTNAME')" :value="item.SHORTNAME">
										<span>{{ item.SHORTNAME }}</span>
									</el-option>
								</el-select>

							</el-form-item>
							<el-form-item label="选择lot">
								<el-input  clearable  v-model="Part1.LotNo" placeholder="请输入LOT"></el-input>

							</el-form-item>
							<el-button @click='test1()' type="primary" icon="el-icon-thumb" >查询</el-button>
							<el-button type="success" icon="el-icon-download" @click='download(2)'>下载</el-button>
						</el-form>
	<el-divider content-position="right" style="font-family: 'langqian';font-weight:800 ;">我 <span style="color: red;">❤ </span>工作</el-divider>
						<el-pagination background @size-change="handleSizeChange1" @current-change="handleCurrentChange1" :current-page="currentPage1" :page-sizes="[5,10,15,20]" :page-size="pageSize1" layout=" total,prev,pager, next,sizes" :total="Store1.filter(data => !Part1.LotNo|| (data.LOTNO.toUpperCase().includes(Part1.LotNo.toUpperCase())))
									.filter(data => !Part1.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part1.ShortName.toUpperCase())))
									.filter(data => !Part1.Size|| (data.SIZER.toUpperCase().includes(Part1.Size.toUpperCase())))
							.length">
						</el-pagination>
						<br />
						
						<el-table v-show="Store1.filter(data => !Part1.Size|| (data.SIZER.toUpperCase().includes(Part1.Size.toUpperCase())))
	.filter(data => !Part1.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part1.ShortName.toUpperCase())))
	.filter(data => !Part1.LotNo|| (data.LOTNO.toUpperCase().includes(Part1.LotNo.toUpperCase()))).length !=0" :data="Store1.filter(data => !Part1.Size|| (data.SIZER.toUpperCase().includes(Part1.Size.toUpperCase())))
	.filter(data => !Part1.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part1.ShortName.toUpperCase())))
	.filter(data => !Part1.LotNo|| (data.LOTNO.toUpperCase().includes(Part1.LotNo.toUpperCase()))).
		slice((currentPage1-1)*pageSize1,currentPage1*pageSize1)" height="700px" border style="width: 100%">
							<el-table-column prop="DATA" label="更新日期" sortable width="160">

							</el-table-column>
							<el-table-column prop="LOTNO" label="批号" width="160">
							</el-table-column>

							<el-table-column prop="SIZER" label="尺寸" width="200">
							</el-table-column>
							<el-table-column prop="AMOUNT" label="发生不良数" width="200">
							</el-table-column>
							<el-table-column prop="TYPE" label="次数" width="200">
							</el-table-column>
							<el-table-column prop="DATA1" label="仕挂日付" width="200">
							</el-table-column>
							<el-table-column prop="DATA2" label="仕挂时刻" width="200">
							</el-table-column>
							<el-table-column prop="NG" label="DF-NG">
							</el-table-column>
							<el-table-column prop="WC" label="未测+DF">
							</el-table-column>
						</el-table>	
						
						
						
						
						
						
						
						
						
						
					</el-tab-pane>
					<el-tab-pane> <span slot="label" class="left" ><i class="el-icon-data-line"></i>最終外選(7400)</span>
		<el-form :model="Part2" ref="Part" label-width="100px" class="demo-Part" :inline='true'>
							<el-form-item label="选择时间">
								<el-date-picker @change='reload()' v-model="Part2.value1" type="daterange" range-separator="至" value-format="yyyy-MM-dd HH:mm" start-placeholder="开始日期" end-placeholder="结束日期">
								</el-date-picker>
							</el-form-item>
							<el-form-item label="选择尺寸">
								<el-select  v-model="Part2.Size" filterable placeholder="请选择" clearable>
									<el-option  @change='clear()'  v-for="item in _.orderBy(_.uniqBy(this.Store2, 'SIZER'),'SIZER')" :value="item.SIZER">
										<span>{{ item.SIZER }}</span>
									</el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="选择品种">
								<el-select v-model="Part2.ShortName" filterable placeholder="请选择" clearable>
									<el-option v-for="item in _.orderBy(_.uniqBy(this.Store2, 'SHORTNAME'),'SHORTNAME')" :value="item.SHORTNAME">
										<span>{{ item.SHORTNAME }}</span>
									</el-option>
								</el-select>

							</el-form-item>
							<el-form-item label="选择lot">
								<el-input  clearable  v-model="Part2.LotNo" placeholder="请输入LOT"></el-input>

							</el-form-item>
							<el-button @click='test2()' type="primary" icon="el-icon-thumb" >查询</el-button>
							<el-button type="success" icon="el-icon-download" @click='download1()'>下载</el-button>
						</el-form>
	<el-divider content-position="right" style="font-family: 'langqian';font-weight:800 ;">我 <span style="color: red;">❤ </span>工作</el-divider>
						<el-pagination background @size-change="handleSizeChange2" @current-change="handleCurrentChange2" :current-page="currentPage2" :page-sizes="[5,10,15,20]" :page-size="pageSize2" layout=" total,prev,pager, next,sizes" :total="Store2.filter(data => !Part2.LotNo|| (data.LOTNO.toUpperCase().includes(Part2.LotNo.toUpperCase())))
									.filter(data => !Part2.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part2.ShortName.toUpperCase())))
									.filter(data => !Part2.Size|| (data.SIZER.toUpperCase().includes(Part2.Size.toUpperCase())))
							.length">
						</el-pagination>
						<br />
						
						<el-table v-show="Store2.filter(data => !Part2.Size|| (data.SIZER.toUpperCase().includes(Part2.Size.toUpperCase())))
	.filter(data => !Part2.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part2.ShortName.toUpperCase())))
	.filter(data => !Part2.LotNo|| (data.LOTNO.toUpperCase().includes(Part2.LotNo.toUpperCase()))).length !=0" :data="Store2.filter(data => !Part2.Size|| (data.SIZER.toUpperCase().includes(Part2.Size.toUpperCase())))
	.filter(data => !Part2.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part2.ShortName.toUpperCase())))
	.filter(data => !Part2.LotNo|| (data.LOTNO.toUpperCase().includes(Part2.LotNo.toUpperCase()))).
		slice((currentPage2-1)*pageSize2,currentPage2*pageSize2)" height="700px" border style="width: 100%">
							<el-table-column prop="DATA" label="更新日期" sortable width="160">

							</el-table-column>
							<el-table-column prop="LOTNO" label="批号" width="160">
							</el-table-column>

							<el-table-column prop="SIZER" label="尺寸" width="100">
							</el-table-column>
							<el-table-column prop="AMOUNT" label="发生不良数" width="100">
							</el-table-column>
							<el-table-column prop="TYPE" label="不良区域" width="200">
							</el-table-column>
							<el-table-column prop="DATA1" label="仕挂日付" width="200">
							</el-table-column>
							<el-table-column prop="DATA2" label="仕挂时刻" width="200">
							</el-table-column>
							<el-table-column prop="SHORTNAME" label="原料">
							</el-table-column>
							<el-table-column prop="TYPENAME" label="品名">
							</el-table-column>
						</el-table>	
						

					</el-tab-pane>
			<el-tab-pane> <span slot="label" class="left" ><i class="el-icon-data-line"></i>
出荷検査(8100)</span>
		<el-form :model="Part3" ref="Part" label-width="100px" class="demo-Part" :inline='true'>
							<el-form-item label="选择时间">
								<el-date-picker @change='reload()' v-model="Part3.value1" type="daterange" range-separator="至" value-format="yyyy-MM-dd HH:mm" start-placeholder="开始日期" end-placeholder="结束日期">
								</el-date-picker>
							</el-form-item>
							<el-form-item label="选择尺寸">
								<el-select  v-model="Part3.Size" filterable placeholder="请选择" clearable>
									<el-option  @change='clear()'  v-for="item in _.orderBy(_.uniqBy(this.Store3, 'SIZER'),'SIZER')" :value="item.SIZER">
										<span>{{ item.SIZER }}</span>
									</el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="选择品种">
								<el-select v-model="Part3.ShortName" filterable placeholder="请选择" clearable>
									<el-option v-for="item in _.orderBy(_.uniqBy(this.Store3, 'SHORTNAME'),'SHORTNAME')" :value="item.SHORTNAME">
										<span>{{ item.SHORTNAME }}</span>
									</el-option>
								</el-select>

							</el-form-item>
							<el-form-item label="选择lot">
								<el-input  clearable  v-model="Part3.LotNo" placeholder="请输入LOT"></el-input>

							</el-form-item>
							<el-button @click='test3()' type="primary" icon="el-icon-thumb" >查询</el-button>
							<el-button type="success" icon="el-icon-download" @click='download2()'>下载</el-button>
						</el-form>
	<el-divider content-position="right" style="font-family: 'langqian';font-weight:800 ;">我 <span style="color: red;">❤ </span>工作</el-divider>
						<el-pagination background @size-change="handleSizeChange3" @current-change="handleCurrentChange3" :current-page="currentPage3" :page-sizes="[5,10,15,20]" :page-size="pageSize3" layout=" total,prev,pager, next,sizes" :total="Store3.filter(data => !Part3.LotNo|| (data.LOTNO.toUpperCase().includes(Part3.LotNo.toUpperCase())))
									.filter(data => !Part3.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part3.ShortName.toUpperCase())))
									.filter(data => !Part3.Size|| (data.SIZER.toUpperCase().includes(Part3.Size.toUpperCase())))
							.length">
						</el-pagination>
						<br />
						
						<el-table v-show="Store3.filter(data => !Part3.Size|| (data.SIZER.toUpperCase().includes(Part3.Size.toUpperCase())))
	.filter(data => !Part3.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part3.ShortName.toUpperCase())))
	.filter(data => !Part3.LotNo|| (data.LOTNO.toUpperCase().includes(Part3.LotNo.toUpperCase()))).length !=0" :data="Store3.filter(data => !Part3.Size|| (data.SIZER.toUpperCase().includes(Part3.Size.toUpperCase())))
	.filter(data => !Part3.ShortName|| (data.SHORTNAME.toUpperCase().includes(Part3.ShortName.toUpperCase())))
	.filter(data => !Part3.LotNo|| (data.LOTNO.toUpperCase().includes(Part3.LotNo.toUpperCase()))).
		slice((currentPage3-1)*pageSize3,currentPage3*pageSize3)" height="700px" border style="width: 100%">
							<el-table-column prop="PROJECT" label="仕挂工程" sortable width="160">

							</el-table-column>
							<el-table-column prop="LOTNO" label="批号" width="160">
							</el-table-column>

							<el-table-column prop="SIZER" label="尺寸" width="200">
							</el-table-column>
							<el-table-column prop="DATA1" label="仕挂日付" width="200">
							</el-table-column>
							<el-table-column prop="DATA2" label="仕挂时刻" width="200">
							</el-table-column>
							<el-table-column prop="TYPENAME" label="品名">
							</el-table-column>
						</el-table>	
						

					</el-tab-pane>
				</el-tabs>
				<el-footer>
					<div style="margin-left: 50%; font-family: '微软雅黑';font-weight: 900;">😡版权所有，盗版必究</div>
					<!--<marquee>系统有问题，联系WM6530刘春海</marquee>-->
				</el-footer>
			</div>
		</div>
		<script src="js/Jquery-1.24.js"></script>
		<script src="js/jquery.okayNav.min.js"></script>
		<script>
			$(function() {
				var navigation = $('#nav-main').okayNav();
			});
			$("ul").on("click", "li", function() {
				$("ul li").removeClass("add");
				$(this).addClass("add");
			});
			var app = new Vue({
				el: '#app',
				data() {

					return {
						fullscreenLoading: false,
						Store: [],
						Store1: [],
						Store2: [],
						Store3: [],
						Part: {
							value1: '',
							Size: '',
							ShortName: '',
							LotNo: ''
						},
							Part1: {
							value1: '',
							Size: '',
							ShortName: '',
							LotNo: ''
						},
						Part2: {
							value1: '',
							Size: '',
							ShortName: '',
							LotNo: ''
						},
							Part3: {
							value1: '',
							Size: '',
							ShortName: '',
							LotNo: ''
						},
						Bag: {
							value1: ''
						},
						currentPage: 1,
						pageSize: 10,
						currentPage1: 1,
						pageSize1: 10,
						currentPage2: 1,
						pageSize2: 10,
						currentPage3: 1,
						pageSize3: 10,
						tabPosition: 'left',
						transit:[]

					}
				},
				methods: {
					handleSizeChange(val) {
						this.pageSize = val;

					},
					handleCurrentChange(val) {
						this.currentPage = val;
						//console.log(`当前页: ${val}`);
					},
							handleSizeChange1(val) {
						this.pageSize1 = val;

					},
					handleCurrentChange1(val) {
						this.currentPage1 = val;
						//console.log(`当前页: ${val}`);
					},
						handleSizeChange2(val) {
						this.pageSize2 = val;

					},
					handleCurrentChange2(val) {
						this.currentPage2 = val;
						//console.log(`当前页: ${val}`);
					},
						handleSizeChange3(val) {
						this.pageSize3 = val;

					},
					handleCurrentChange3(val) {
						this.currentPage3 = val;
						//console.log(`当前页: ${val}`);
					},
					test() {
						if(this.Part.value1 == '') {
							this.$message({
								message: '警告哦，请先选择时间',
								type: 'warning'
							});
							return
						}
						const loading = this.$loading({
							lock: true,
							text: '数据抽取中~',
							spinner: 'el-icon-loading',
							background: 'rgba(0, 0, 0, 0.7)'
						});
						setTimeout(() => {
							this.Store = ajaxlink('PHP/common/Variety.php', {
								LotNo: this.Part.value1
							});
							loading.close();
						}, 1000);

					},
						test1() {
						if(this.Part1.value1 == '') {
							this.$message({
								message: '警告哦，请先选择时间',
								type: 'warning'
							});
							return
						}
						const loading = this.$loading({
							lock: true,
							text: '数据抽取中~',
							spinner: 'el-icon-loading',
							background: 'rgba(0, 0, 0, 0.7)'
						});
						setTimeout(() => {
//					axios.post('PHP/common/Variety1.php',
//					Qs.stringify({
//
//                              "LotNo": this.Part1.value1,
//})
//					)
//					
//					.then(response => {
//						this.Store1 = response.data
//					})
this.Store1 = ajaxlink('PHP/common/Variety1.php', {
								LotNo: this.Part1.value1
							});
							loading.close();
						}, 1000);

					},
							test2() {
						if(this.Part2.value1 == '') {
							this.$message({
								message: '警告哦，请先选择时间',
								type: 'warning'
							});
							return
						}
						const loading = this.$loading({
							lock: true,
							text: '数据抽取中~',
							spinner: 'el-icon-loading',
							background: 'rgba(0, 0, 0, 0.7)'
						});
						setTimeout(() => {
//					axios.post('PHP/common/Variety2.php',
//					Qs.stringify({
//
//                              "LotNo": this.Part2.value1,
//})
//					)
//					
//					.then(response => {
//						this.Store2 = response.data
//					})
this.Store2 = ajaxlink('PHP/common/Variety2.php', {
								LotNo: this.Part2.value1
							});
							loading.close();
						}, 1000);

					},
					
						test3() {
						if(this.Part3.value1 == '') {
							this.$message({
								message: '警告哦，请先选择时间',
								type: 'warning'
							});
							return
						}
						const loading = this.$loading({
							lock: true,
							text: '数据抽取中~',
							spinner: 'el-icon-loading',
							background: 'rgba(0, 0, 0, 0.7)'
						});
						setTimeout(() => {
//					axios.post('PHP/common/Variety2.php',
//					Qs.stringify({
//
//                              "LotNo": this.Part2.value1,
//})
//					)
//					
//					.then(response => {
//						this.Store2 = response.data
//					})
this.Store3 = ajaxlink('PHP/common/Variety3.php', {
								LotNo: this.Part3.value1
							});
							loading.close();
						}, 1000);

					},
					reload() {
						this.Store = [];
						this.Store1 = [];
						this.Store2= [];
							this.Store3= [];
					},
					clear(){
						this.currentPage=1;
						this.currentPage1=1;
						this.currentPage2=1;
						this.currentPage3=1;
					},
							download2(){
								this.transit=this.Store3
			.filter(data => !this.Part3.ShortName|| (data.SHORTNAME.toUpperCase().includes(this.Part3.ShortName.toUpperCase())))
	.filter(data => !this.Part3.Size|| (data.SIZER.toUpperCase().includes(this.Part3.Size.toUpperCase())))
	.filter(data => !this.Part3.LotNo|| (data.LOTNO.toUpperCase().includes(this.Part3.LotNo.toUpperCase())));
							
						console.log(this.transit);	
							
							let ws = XLSX.utils.json_to_sheet(this.transit);

				let wb = XLSX.utils.book_new();

				XLSX.utils.book_append_sheet(wb, ws, 'sheetname');

				return XLSX.writeFile(wb, '8100.xlsx');	
					},
					download1(){
								this.transit=this.Store2
									.filter(data => !this.Part2.Size|| (data.SIZER.toUpperCase().includes(this.Part2.Size.toUpperCase())))
			.filter(data => !this.Part2.ShortName|| (data.SHORTNAME.toUpperCase().includes(this.Part2.ShortName.toUpperCase())))
	.filter(data => !this.Part2.LotNo|| (data.LOTNO.toUpperCase().includes(this.Part2.LotNo.toUpperCase())));
							
							
							
							let ws = XLSX.utils.json_to_sheet(this.transit);

				let wb = XLSX.utils.book_new();

				XLSX.utils.book_append_sheet(wb, ws, 'sheetname');

				return XLSX.writeFile(wb, '7400.xlsx');	
					},
					download(type){
						if(type=='1'){
									this.transit=this.Store
										.filter(data => !this.Part.Size|| (data.SIZER.toUpperCase().includes(this.Part.Size.toUpperCase())))
			.filter(data => !this.Part.ShortName|| (data.SHORTNAME.toUpperCase().includes(this.Part.ShortName.toUpperCase())))
	.filter(data => !this.Part.LotNo|| (data.LOTNO.toUpperCase().includes(this.Part.LotNo.toUpperCase())));
							
							
							
							let ws = XLSX.utils.json_to_sheet(this.transit);

				let wb = XLSX.utils.book_new();

				XLSX.utils.book_append_sheet(wb, ws, 'sheetname');

				return XLSX.writeFile(wb, '6200.xlsx');
						}
						else if (type='2'){
										this.transit=this.Store1
											.filter(data => !this.Part1.Size|| (data.SIZER.toUpperCase().includes(this.Part1.Size.toUpperCase())))
			.filter(data => !this.Part1.ShortName|| (data.SHORTNAME.toUpperCase().includes(this.Part1.ShortName.toUpperCase())))
	.filter(data => !this.Part1.LotNo|| (data.LOTNO.toUpperCase().includes(this.Part1.LotNo.toUpperCase())));
							
							
							
							let ws = XLSX.utils.json_to_sheet(this.transit);

				let wb = XLSX.utils.book_new();

				XLSX.utils.book_append_sheet(wb, ws, 'sheetname');

				return XLSX.writeFile(wb, '7100.xlsx');
						}
						else if (type='3'){
								this.transit=this.Store2
			.filter(data => !this.Part2.ShortName|| (data.SHORTNAME.toUpperCase().includes(this.Part2.ShortName.toUpperCase())))
	.filter(data => !this.Part2.LotNo|| (data.LOTNO.toUpperCase().includes(this.Part2.LotNo.toUpperCase())));
							
							
							
							let ws = XLSX.utils.json_to_sheet(this.transit);

				let wb = XLSX.utils.book_new();

				XLSX.utils.book_append_sheet(wb, ws, 'sheetname');

				return XLSX.writeFile(wb, '7400.xlsx');		
						}
					
					}

				},
				mounted() {
var result =ajaxlink('PHP/py.php');
				}

			});
		</script>